.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    width: 100%;
    padding-left: 1rem;
    justify-content: center;
}
.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
    aspect-ratio: 1/1;
}
.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.portfolio__item-image img {
    max-width: 100%;
    /* Set the maximum width to 100% of the container */
    height: auto;
    /* Maintain the aspect ratio */
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.details-dialog {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url("../../assets/bg-texture.png");
    border-radius: 5rem;
}

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
        padding: 0 1rem;
    }
}

/* Mobile devices */
@media screen and (max-width: 768px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0 1rem;
    }
    
    .portfolio__item {
        width: 100%;
        margin: 0 auto;
    }
    
    .portfolio__item-image {
        width: 100%;
    }
}